{{template "base" .}}

{{define "content" }}
    <pre>
     _____    _                _            _
    |_   _|__| |__   __ _ _ __| | ___ ____ (_)_ __
      | |/ __| '_ \ / _` | '__| |/ _ \_  / | | '_ \
      | | (__| | | | (_| | |  | |  __// / _| | | | |
      |_|\___|_| |_|\__,_|_|  |_|\___/___(_)_|_| |_|

    I believe in people fearless and technology.
    Software Architect living in Brazil.

    Skills and interests

    - Computer Scientist;
    - Object Oriented Programming and Software Architecture;
    - Domain-Driven Design and Clean Architecture;
    - Microservices & Distribuided systems;
    - GoLang and PHP;
    - Pragmatic and objective.

    <a href="https://www.linkedin.com/in/tcharlezin/" target="_blank">Linkedin</a> | <a href="https://github.com/tcharlezin" target="_blank">Github</a>
    </pre>
{{end}}

{{define "js"}}
{{end}}
